<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io(':3000/fast-chat');
	  socket.emit('uwot', 'hi dere');
	  socket.on('msg', function(data){
	  	console.log(data);
	  })
	</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
