/* Primary colours */
/* background: #FDF9E7*/
/* font: 04454f; */
/* highlight: ff7b3a;*/
html{
	height:100%;
}
body {
	background-color:rgb(29, 29, 29);
	margin: 0px;
	padding:0px;
	height:100%;
	color:white;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.error{
	color:red;
}
.main-container{
	height:100%;
}
#view-area{
	height:auto;
}
a {
	color: #00B7FF;
}
input, button, textarea {
	color: black;
}

.container{
	width:95%;
}
/* Navigation */

div.logo {
	float:left;
	margin-top: -5px
}

nav {
	padding-top:20px;
	padding-left:18px;
	font-weight:bold;
	color:white;
	background:#ff7b3a;
	width:100%;
	min-height:60px;
}

nav ul{
	float:left;
	padding:0px;
	margin:0px;
}

nav ul > li {
	margin-left:22px;
	display:inline-block;
	text-decoration:none;
	list-style: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

nav ul > li > a{
	color:white;
	padding:12px;
}

nav ul > li:hover a {
	background-color:#075C69;
	color:white;
	text-decoration:none;
}

li.highlight a{
	
	background-color:#04454f;
}

/* Front Page */
.guest {
	width:100%;
	
	padding:15px;
	font-weight:bold;
	color: #333;

	background-color:lightblue;
}

/* Individual Page */
#chat-room{

}
#chat-box{
	width:80%;
	background-color:#333;
	float:left;
	position:relative;
}
#chat-sidebar {
  float: left;
  width: 20%;
  background-color: #333;
  border-left: 1px solid rgb(31, 31, 31);
}
#chat-room textarea{
	width:80%;
	padding:10px;
	transition: height 2s;
	height:auto;
	position:absolute;
	bottom:0;
	left:0;
	font-size:1.8em;
}
#chat-room input[type="submit"]{
	width:20%;
	height:50px;
	position:absolute;
	bottom:0;
	right:0;
}
#chat-sidebar h2 {
  background-color: rgb(255, 123, 58);
  padding: 10px;
  font-size: 1.2em;
  color: rgb(21, 21, 21);
  font-weight: bold;
}
#chat-sidebar h1 {
  background-color: lightblue;
  padding: 10px;
  font-size: 1.2em;
  color: rgb(21, 21, 21);
  font-weight: bold;
}
.user-id {
  font-weight: bold;
  font-size: 1.05em;
}
.message-sent {
  font-size: 0.83em;
  color: #ADD8E6;
  /* letter-spacing: 0.03em; */
}
.message{
	padding: 12px;
}
.message:nth-child(even) {
  background-color: rgb(35, 38, 39);
}
.message .user{
	float: left;
  padding-right: 10px;
  width: 2%;
  min-width: 190px;
  margin-right: 10px;
  height: 100%;
  border-right: 1px solid rgb(255, 123, 58);
}
.message .user-message{
	 overflow:hidden;
	 width:auto;
}


/* chat room page */
#chat-rooms {
	margin-top: 20px;
}
.room-box {
	padding:5px;
	height:250px;
}
.room-info {
	background-color: rgb(35, 36, 37);
	box-shadow: 1px 1px 1px rgba(1,1,1,0.2);
  	border-top: 3px solid rgb(4, 69, 79);
}
.room-title{
	font-weight:bold;
	font-size:1.8em;
}
.room-title, .room-stats, .recent-messages{
	padding:5px;
}
.join-chat{
	margin-top:10px;
	display:inline-block;
	text-align:center;
	padding:12px;
	background-color:orange;
	width:100%;
	color:white;
	font-weight:bold;
}





