<div class="offline row" ng-show="!status.online">
	Chat is currently offline!
</div>
<div class="room-not-found" ng-show="room.notFound">
	We couldn't find the room you are looking for! Try creating a room, or ask your friend for the link again.	
</div>
<div id="chat-room" class="row" ng-show="status.online && !room.notFound && room.title">
	<section id="chat-box">
		<div message-box id="messages" class="messages">
			<div class="message clearfix" ng-repeat="msg in messages">
				<div class="user">
					<div class="user-id" style="color:{{msg.userColour}}">{{msg.userName}}</div>
					<div class="message-sent"><span am-time-ago="msg.date"></span></div>
				</div>
				<div class="user-message {{msg.style}}">
					{{msg.message}}
				</div>
			</div>
		</div>		
		<div class="submit-msg">
			<form ng-submit="chat.submitMsg()" ng-validate>
				<div class="max-words" ng-class="{error: !chat.validLength}"> {{chat.message.length}} / {{chat.maxLength}}</div>
				<textarea rows="{{chat.entered}}" type="text-area" ng-model="chat.message" autofocus determine-space></textarea>
				<input type="submit">
			</form>
		</div>
	</section>
	<aside id="chat-sidebar">
		<div id="chatroom-title">
			<h1>{{room.title}}</h1>
		</div>
		<div id="currentUsers">
			<h2>Users in Chat - {{users.length}}</h2>
			<div class="users">
				<div ng-repeat="user in users | orderBy:'-userName'" class="user">
					<span style="color:{{user.userColour}}">{{user.userName}}</span>
				</div>
			</div>
		</div>
	</aside>
</div>