<div>
	
	<form name="form" novalidate ng-submit="submitRoom()" ng-validate>
		<h2>Create a room:</h2> 
		Room Title:

		<span class="maximum-words" ng-class="{error: !room.validLength}"> {{room.title.length}} / {{room.maxLength}}</span>
		<input type="text" name="title" ng-model="room.title"><input type="submit" />

		<span class="error" ng-show="form.$submitted || form.title.$touched">
	      <span ng-show="room.title.length === 0">Please provide a title.</span>
	    </span>
		<br />
	</form>

	<div class="active-rooms" ng-controller="ActiveRoomsCtrl">
		<h2 ng-show="rooms.length"> Or Join an Active Room </h2>
		<div class="room-link" ng-repeat="room in rooms | orderBy:'-dateModified'">
			<div><a href="#/room/{{room._id}}">{{room.title}}</a></div>
			Last Accessed: <span am-time-ago="room.dateModified"></span>
		</div>
	</div>
</div>